.accordion {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 0;
  display: grid;
  grid-template-rows: 0fr;
}

.content.open {
  margin-top: 1rem;
  grid-template-rows: 1fr;
}

.content > div {
  overflow: hidden;
}

.icon {
}

.icon.open {
  transform: rotate(180deg);
}
