.container {
  width: 100%;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content {
  width: 100%;
}

.rating {
  font-size: 1rem;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;
  margin-right: 1.5rem;

  background: #e0e0e0;
  border-radius: 0.5rem;
}
