.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.placeholder {
  font-size: 0.9rem;
  color: var(--input-placeholder);
}

.value {
  color: var(--input-color);
}

.select {
  display: flex;
  justify-content: space-between;

  padding: 0.6rem 1rem;

  user-select: none;
  cursor: pointer;

  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}

.select.open {
  border: 1px solid var(--orange);
}

.icon {
  opacity: 0.4;
}

.icon.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  z-index: 3;

  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.08);
}

.option {
  padding: 1rem;
  background: white;
  cursor: pointer;
}

.option:hover {
  background: var(--input-border);
}
