:root {
  --text-primary: #1b1f23;
  --orange: #f50;
  --orange-hover: #e94e00;

  --input-placeholder: #999fa6;
  --input-border: #e1e3e6;
  --input-color: #1b1f23;

  --nav-background: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 1.6rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

.content {
  flex: 1;
  padding: 1.5em 2em;
  background: #f5f5f5;
}

.back {
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 1.4rem;
  font-size: 0.9rem;
}

.space {
  display: grid;
  gap: 0.8rem;
}

.gap {
  display: grid;
  gap: 1.2rem;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
  align-items: center;
  height: 5rem;

  font-size: 1.3rem;
  background: var(--nav-background);
  color: #ffffff;
}
